
a:link{
    
    font-family: 'Josefin Slab', serif;;
    font-style: normal;
    font-size: 1.5em;
    //font-style: inherit;
    font-weight: 300;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

#bannertext{
    font-family: 'Josefin Slab', serif;
    font-size: 1.5em;
    
}

figcaption{
    color: white;
}

.imgwrap {
  
}

.imgdescription {
   color: black;
}


.imgwrap:hover .imgdescription {
 
}

#caption_slideshow.center
{ text-align: center;
  font-family: Georgia, Serif;
  font-size: 25px;
  color: white;
  
}

#title_slideshow
{
	font-family: Georgia, Serif;
	font-size: 40px;
        color: white;
	
}

#textcontainer{
    font-family: 'Caveat', cursive;
    font-style: normal;
    font-size: 1.5em;
    //font-style: inherit;
    font-weight: 300;
    text-decoration: none;
    color: white;
}

#contactlist ul li a{
    color: whitesmoke;
    font-family: georgia;
    font-style: normal;
    font-size: 1em;
    text-decoration: none;
}

#name{
    color: whitesmoke;
    font-size: 2em;
    font-family: 'Poiret One', cursive;
 }

 #profession{
    color:whitesmoke;
    font-family: 'Poiret One', cursive; 
    font-weight: 600;
 }
 


 #pictextcontainer h1{
    font-family: 'Josefin Slab', serif;
}

#potraittext{
    font-family: 'Josefin Slab', serif;
}








