body{
    margin:0em 0em 0em 0em;
    padding:0em 0em 0em 0em;
    background-size: 100%;
    background-repeat: no-repeat;
}

#navbar{
    height: 20em;
    width: 15em;
    margin: -1em 0em -22em 0em;
    padding:0em 0em 0em 0em;
    
}

#brand{
    float: left;
    padding-right: 8.3em;
    padding-left: 8.3em;
}

#navlinks{
    width: 10em;
    
}

#navbar ul{
    list-style: none;
}

#navbar li{
    float:left;
}

#navbar a{
    display: block;
    width: 4.35em;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 0.4em;
    height: 1.6em;
} 

#banner{
    
    height: 5em;
    width: 100%;
    margin: 15em 0em 0em 0em;
    padding:0em 0em 0em 0em;
    
}

#bannertext{
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.25em;
}

#mediacontainer{
    width: 100%;
    height:50em;
    margin-top: 2em;
    
}



//figcaption{
//  height: 150px;
//width: 300px;
//}
























#potraitimg{
    float: right;
    
}
#potraittext{
    
}

#pictextcontainer{
    margin-left: 20%;
    //margin-right: -5em;
    //float: right;
}














