body{
    margin:0em 0em 0em 0em;
    padding:0em 0em 0em 0em;
    background-size: 100%;
    background-repeat: no-repeat;
}

#navbar{
    //height: 3em;
    width: 100%;
    margin: 4em 0em -2em 0em;
    padding:0em 0em 0em 0em;
    height:auto;
    min-height:3em;
    height:auto !important;      
    height:3em;
}

#brand{
    float: left;
    padding-right: 8.3em;
    padding-left: 8.3em;
}

#navlinks{
    width: 1200px;
    margin-left: 0em;
    margin-right: auto;
}

#navbar ul{
    list-style: none;
}

#navbar li{
    float: left;
}

#navbar a{
    display: block;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 0.4em;
    height: 1.55em;
} 

#banner{
    
    height: 5em;
    width: 100%;
    margin: 15em 0em 0em 0em;
    padding:0em 0em 0em 0em;
    
}

#bannertext{
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
}

#mediacontainer{
    width: 100%;
    height:auto;
    min-height:20em;
    height:auto !important;      
    height:20em;
    margin-top: 2em;
}

#img1{
    
    height: 250px;
    width: 300px;
    //margin-left: auto;
    //margin-right: auto;
    //margin-top: 1em;
}
#img2{
    height: 250px;
    width: 300px;
}


//figcaption{
//  height: 150px;
//width: 300px;
//}



#video1{
    height: 881px;
    width: 100%;
}

#mediacontainer p{
    width: 250px
}

.imgwrap {
    position: relative;
    height: 250px;
    width: 300px;
}

.imgdescription {
    position: relative;
    top: -100px;
    bottom: 0px;
    left: auto;
    right: auto;
    visibility: hidden;
}


.imgwrap:hover .imgdescription {
    visibility: visible;
}

#image_slideshow.center
{ display: block;
  margin-left: auto;
  margin-right: auto;
}

#image_slideshow{
    height: 550px
}

#buttons.center
{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}
#buttons{
    visibility: visible;
    position: relative;
}

#caption_slideshow.center
{ text-align: center;
  
}

#title_slideshow
{
	
}
#image_slideshow:hover #buttons{
    visibility: visible;
}

#textcontainer{
    width: 500px;
    height: 500px;
}

#textcontainer ul{
    list-style: none;
    display: block;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

#mapcontainer{
    width: 500px;
    height: 600px;
}

#mapcontainer.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    
}





#contactlist ul{
    list-style: none;
}

#contactlist ul li{
    margin-bottom: 1em;
}
#logo{
    width: 250px;
}

#logo.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#name{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 }

 #profession{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2em;
 }
 #socialicons table{
   padding-left: 5em;
   }
   
   #socialicons table tr td{
       padding-right: 1em;
   }












