body{
   margin:0em 0em 0em 0em;
   padding:0em 0em 0em 0em;
 }
  
#navbar{
    height: 3em;
    width: 100%;
    margin:-1.5em 0em 0em 0em;
    padding:0em 0em 0em 0em;
   
}
  
#brand{
    float: left;
    padding-right: 8.3em;
    padding-left: 8.3em;
 }
 
 #navlinks{
 width: 1200px;
 margin-left: auto;
 margin-right: auto;}
 
#navbar ul{
    list-style: none;
}
    
#navbar li{
    float: left;
}

#navbar a{
    display: block;
    padding-right: 3em;
    padding-left: 3em;
    padding-top: 1em;
    height: 2em;
   } 
