/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 23, 2015, 8:35:19 PM
    Author     : Ali
*/

.root{
    -fx-background-color: #BFBEBC; 
    -fx-text-fill: black;
    
    -fx-font-size: 18pt;
    -fx-font-family: 'Josefin Slab', serif;;
    -fx-font-style: normal;
    -fx-font-size: 1.5em;
}

.button{
    -fx-background-color: transparent;
    -fx-padding: 0em 0 0 0 
}

#videocontainer{
    -fx-border-color:black;
    -fx-border-width: 2px;
}

