/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2015, 2:52:09 PM
    Author     : Ali
*/
.root{
    -fx-background-color: white;
    
}

#contentarea{
    -fx-border-bottom-width: 5px;
    -fx-border-color: black;
}
#tab{
    -fx-font-weight: 900;
}
#tabpane{
    
    -fx-text-fill: black;
    
    -fx-font-size: 18pt;
    -fx-font-family: 'Josefin Slab', serif;;
    -fx-font-style: normal;
    -fx-font-size: 1.5em;
    
    //-fx-font-weight: "bold";
    -fx-text-decoration: none;
    -fx-background-color: #BFBEBC;
}

#titlecontainer{
    -fx-padding: 2.5em 2.5em 0em 2.5em ; 
    -fx-background-color: transparent;
}

#namecontainer{
    -fx-padding: 2.5em 2.5em 2.5em 2.5em ; 
}

#titlefield{
        -fx-padding: 0em 0em 0em 5em ; 
}

#titleprompt{
        -fx-padding: 0em 7em 0em 0em ; 
        
    -fx-text-fill: black;
    
    -fx-font-size: 18pt;
    -fx-font-family: 'Josefin Slab', serif;;
    -fx-font-style: normal;
    -fx-font-size: 1.5em;
    
    -fx-font-weight: 300;
    -fx-text-decoration: none;
}

#nameprompt{
        -fx-padding: 0em 0.5em 0em 0em ; 
        
    -fx-text-fill: black;
    
    -fx-font-size: 18pt;
    -fx-font-family: 'Josefin Slab', serif;;
    -fx-font-style: normal;
    -fx-font-size: 1.5em;
    
    -fx-font-weight: 300;
    -fx-text-decoration: none;
}

#namefield{
        -fx-padding: 0em 0em 0em 5em ; 
}

#headercontainer{
        -fx-padding: 2.5em 2.5em 2.5em 2.5em ; 
}

#paragraphcontainer{
        -fx-padding: 2.5em 2.5em 2.5em 2.5em ; 
}

#listcontainer{
        -fx-padding: 2.5em 2.5em 2.5em 2.5em ; 
}

#imagecontainer{
        -fx-padding: 2.5em 2.5em 2.5em 2.5em ; 
}

#slideshowcontainer{
        -fx-padding: 2.5em 2.5em 2.5em 2.5em ; 
}

#videocontainer{
        -fx-padding: 2.5em 2.5em 2.5em 2.5em ; 
}
#workspace{
    -fx-background: #FF6517;
}
.button{
    -fx-background-color: transparent;
}

#headerprompt{
    -fx-padding: 0.5em 0em 0em 0em;
    -fx-text-fill: black;
    
    -fx-font-size: 18pt;
    -fx-font-family: 'Josefin Slab', serif;;
    -fx-font-style: normal;
    -fx-font-size: 1.5em;
    
    -fx-font-weight: 300;
    -fx-text-decoration: none;
}

#paragraphprompt{
    -fx-padding: 0.5em 0em 0em 0em;
    -fx-text-fill: black;
    
    -fx-font-size: 18pt;
    -fx-font-family: 'Josefin Slab', serif;;
    -fx-font-style: normal;
    -fx-font-size: 1.5em;
    
    -fx-font-weight: 300;
    -fx-text-decoration: none;
}
#listprompt{
    -fx-padding: 0.5em 0em 0em 0em;
    -fx-text-fill: black;
    
    -fx-font-size: 18pt;
    -fx-font-family: 'Josefin Slab', serif;;
    -fx-font-style: normal;
    -fx-font-size: 1.5em;
    
    -fx-font-weight: 300;
    -fx-text-decoration: none;
}
#imageprompt{
    -fx-padding: 0.5em 0em 0em 0em;
    -fx-text-fill: black;
    
    -fx-font-size: 18pt;
    -fx-font-family: 'Josefin Slab', serif;;
    -fx-font-style: normal;
    -fx-font-size: 1.5em;
    
    -fx-font-weight: 300;
    -fx-text-decoration: none;
}
#videoprompt{
    -fx-padding: 0.5em 0em 0em 0em;
    -fx-text-fill: black;
    
    -fx-font-size: 18pt;
    -fx-font-family: 'Josefin Slab', serif;;
    -fx-font-style: normal;
    -fx-font-size: 1.5em;
    
    -fx-font-weight: 300;
    -fx-text-decoration: none;
}
#slideshowprompt{
    -fx-padding: 0.5em 0em 0em 0em;
    -fx-text-fill: black;
    
    -fx-font-size: 18pt;
    -fx-font-family: 'Josefin Slab', serif;;
    -fx-font-style: normal;
    -fx-font-size: 1.5em;
    
    -fx-font-weight: 300;
    -fx-text-decoration: none;
}

#filetoolbarcontainer .button{
   -fx-padding: 1.5em 5em 1.5em 0em;
}

#filetoolbarcontainer{
    -fx-background-color: #D8D6D5;
}

#pagetoolbarpane{
    -fx-background-color: #667B94;
}



